---
import { Image } from "astro:assets";
import Link from "./Link.astro";

interface Props {
  image: ImageMetadata;
  name: string;
  url: string;
  position: string;
  contact: string;
  officeHours: string;
}

const { image, name, url, position, contact, officeHours } = Astro.props;
---

<div class="flex space-x-2">
  <Image src={image} alt="Profile image" width={100} class="m-0" />
  <div class="flex flex-col align-top">
    <Link href={url} new-tab>{name}</Link>
    <span class="text-sm text-gray-500">{position}</span>
    <div>{contact}</div>
    <div><i>Konsultacije:</i> {officeHours}</div>
  </div>
</div>
